	.wsite-elements.wsite-not-footer:not(.wsite-header-elements) div.paragraph,
	.wsite-elements.wsite-not-footer:not(.wsite-header-elements) p,
	.wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-block .product-title,
	.wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-description,
	.wsite-elements.wsite-not-footer:not(.wsite-header-elements) .wsite-form-field label,
	.wsite-elements.wsite-not-footer:not(.wsite-header-elements) .wsite-form-field label,
	#wsite-content div.paragraph,
	#wsite-content p,
	#wsite-content .product-block .product-title,
	#wsite-content .product-description,
	#wsite-content .wsite-form-field label,
	#wsite-content .wsite-form-field label,
	.blog-sidebar div.paragraph,
	.blog-sidebar p,
	.blog-sidebar .wsite-form-field label,
	.blog-sidebar .wsite-form-field label {
		font-family: "Montserrat" !important;
	}
	
	#wsite-content div.paragraph,
	#wsite-content p,
	#wsite-content .product-block .product-title,
	#wsite-content .product-description,
	#wsite-content .wsite-form-field label,
	#wsite-content .wsite-form-field label,
	.blog-sidebar div.paragraph,
	.blog-sidebar p,
	.blog-sidebar .wsite-form-field label,
	.blog-sidebar .wsite-form-field label {
		color: #9b9b9b !important;
	}
	
	.wsite-elements.wsite-footer div.paragraph,
	.wsite-elements.wsite-footer p,
	.wsite-elements.wsite-footer .product-block .product-title,
	.wsite-elements.wsite-footer .product-description,
	.wsite-elements.wsite-footer .wsite-form-field label,
	.wsite-elements.wsite-footer .wsite-form-field label {}
	
	.wsite-elements.wsite-not-footer:not(.wsite-header-elements) h2,
	.wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-long .product-title,
	.wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-large .product-title,
	.wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-small .product-title,
	#wsite-content h2,
	#wsite-content .product-long .product-title,
	#wsite-content .product-large .product-title,
	#wsite-content .product-small .product-title,
	.blog-sidebar h2 {
		font-family: "Montserrat" !important;
	}
	
	#wsite-content h2,
	#wsite-content .product-long .product-title,
	#wsite-content .product-large .product-title,
	#wsite-content .product-small .product-title,
	.blog-sidebar h2 {
		color: #363b3e !important;
	}
	
	.wsite-elements.wsite-footer h2,
	.wsite-elements.wsite-footer .product-long .product-title,
	.wsite-elements.wsite-footer .product-large .product-title,
	.wsite-elements.wsite-footer .product-small .product-title {}
	
	#wsite-title {}
	
	.wsite-menu-default a {}
	
	.wsite-menu a {}
	
	.wsite-image div,
	.wsite-caption {}
	
	.galleryCaptionInnerText {}
	
	.fancybox-title {}
	
	.wslide-caption-text {}
	
	.wsite-phone {}
	
	.wsite-headline,
	.wsite-header-section .wsite-content-title {
		font-family: "Montserrat" !important;
		font-weight: 700 !important;
		letter-spacing: -3px !important;
	}
	
	.wsite-headline-paragraph,
	.wsite-header-section .paragraph {
		font-family: "Lora" !important;
		font-weight: 400 !important;
		letter-spacing: 0px !important;
	}
	
	.wsite-button-inner {}
	
	.wsite-not-footer blockquote {}
	
	.wsite-footer blockquote {}
	
	.blog-header h2 a {}
	
	#wsite-content h2.wsite-product-title {}
	
	.wsite-product .wsite-product-price a {}
	
	@media screen and (min-width: 767px) {
		.wsite-elements.wsite-not-footer:not(.wsite-header-elements) div.paragraph,
		.wsite-elements.wsite-not-footer:not(.wsite-header-elements) p,
		.wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-block .product-title,
		.wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-description,
		.wsite-elements.wsite-not-footer:not(.wsite-header-elements) .wsite-form-field label,
		.wsite-elements.wsite-not-footer:not(.wsite-header-elements) .wsite-form-field label,
		#wsite-content div.paragraph,
		#wsite-content p,
		#wsite-content .product-block .product-title,
		#wsite-content .product-description,
		#wsite-content .wsite-form-field label,
		#wsite-content .wsite-form-field label,
		.blog-sidebar div.paragraph,
		.blog-sidebar p,
		.blog-sidebar .wsite-form-field label,
		.blog-sidebar .wsite-form-field label {
			font-size: 18px !important;
			line-height: 32px !important;
		}
		#wsite-content div.paragraph,
		#wsite-content p,
		#wsite-content .product-block .product-title,
		#wsite-content .product-description,
		#wsite-content .wsite-form-field label,
		#wsite-content .wsite-form-field label,
		.blog-sidebar div.paragraph,
		.blog-sidebar p,
		.blog-sidebar .wsite-form-field label,
		.blog-sidebar .wsite-form-field label {}
		.wsite-elements.wsite-footer div.paragraph,
		.wsite-elements.wsite-footer p,
		.wsite-elements.wsite-footer .product-block .product-title,
		.wsite-elements.wsite-footer .product-description,
		.wsite-elements.wsite-footer .wsite-form-field label,
		.wsite-elements.wsite-footer .wsite-form-field label {}
		.wsite-elements.wsite-not-footer:not(.wsite-header-elements) h2,
		.wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-long .product-title,
		.wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-large .product-title,
		.wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-small .product-title,
		#wsite-content h2,
		#wsite-content .product-long .product-title,
		#wsite-content .product-large .product-title,
		#wsite-content .product-small .product-title,
		.blog-sidebar h2 {
			font-size: 80px !important;
			line-height: 78px !important;
		}
		#wsite-content h2,
		#wsite-content .product-long .product-title,
		#wsite-content .product-large .product-title,
		#wsite-content .product-small .product-title,
		.blog-sidebar h2 {}
		.wsite-elements.wsite-footer h2,
		.wsite-elements.wsite-footer .product-long .product-title,
		.wsite-elements.wsite-footer .product-large .product-title,
		.wsite-elements.wsite-footer .product-small .product-title {}
		#wsite-title {}
		.wsite-menu-default a {}
		.wsite-menu a {}
		.wsite-image div,
		.wsite-caption {}
		.galleryCaptionInnerText {}
		.fancybox-title {}
		.wslide-caption-text {}
		.wsite-phone {}
		.wsite-headline,
		.wsite-header-section .wsite-content-title {
			font-size: 90px !important;
		}
		.wsite-headline-paragraph,
		.wsite-header-section .paragraph {
			font-size: 22px !important;
			line-height: 34px !important;
		}
		.wsite-button-inner {}
		.wsite-not-footer blockquote {}
		.wsite-footer blockquote {}
		.blog-header h2 a {}
		#wsite-content h2.wsite-product-title {}
		.wsite-product .wsite-product-price a {}
}

.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
	.btn {
		transition: none
	}
}

.btn:hover {
	color: #212529;
	text-decoration: none
}

.btn.focus,
.btn:focus {
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.btn.disabled,
.btn:disabled {
	opacity: .65
}

.btn:not(:disabled):not(.disabled) {
	cursor: pointer
}

a.btn.disabled,
fieldset:disabled a.btn {
	pointer-events: none
}

.btn-primary {
	padding-bottom: 10px;
	color: #fff;
	background-color: #007bff;
	border-color: #007bff
}

.btn-primary:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc
}

.btn-primary.focus,
.btn-primary:focus {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
	box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5)
}

.btn-primary.disabled,
.btn-primary:disabled {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #0062cc;
	border-color: #005cbf
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5)
}

.btn-block {
	display: block;
	width: 100%
}

.btn-block+.btn-block {
	margin-top: .5rem
}

input[type=button].btn-block,
input[type=reset].btn-block,
input[type=submit].btn-block {
	width: 100%
}


.form-control {
	text-align: center;
    display: block;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

